*{
  font-family: 'Libre Bodoni';
  color: white;
  scroll-behavior: smooth;
}

body{
  background-color: #173637;
  width: auto;
}

.nav-bar{
  list-style-type: none;
  display: inline;
  text-align: center;
  margin: 0px;
}

.header-bar{
  display: flex;
  justify-content: center;
  padding: 25px;
  margin: 25px;
  border-bottom: 3px solid white;
  border-left: 3px dashed white;
  border-radius: 5px;
}
h1.greeting{
  color: lightgrey;
  font-size: 125%;
  padding: 0;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 0px;
  text-align: right;
}
h1.based{
  color: lightgrey;
  font-size: 125%;
  padding: 0;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 0px;
  text-align: right;
}
h1.current{
  color: lightgrey;
  font-size: 125%;
  padding: 0;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 0px;
  text-align: right;
}
h2.name{
  color: white;
  font-size: 250%;
  text-align: right;
  margin: 0;
}
h3{
  color: lightgrey;
  font-size: 150%;
  text-align: center;
}
h3.city{
  color: lightgrey;
  font-size: 150%;
  text-align: right;
  margin: 0px;
}
h3.ga{
  color: lightgrey;
  font-size: 150%;
  text-align: right;
  margin: 0px;
}
.welcome{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
p.message{
  display: flex;
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  align-items: center;
  border: 5px solid white;
  border-style: outset;
  border-radius: 5px;
}
p.message:hover{
  display: flex;
  margin-top: 20px;
  text-align: center;
  align-items: center;
  color: #f2fefe;
  border: 5px solid white;
  border-style: inset;
  border-radius: 5px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #072743;
  color: white;
  text-align: center;
}


/* NAV BUTTONS */
#resume{
  display: inline;
  position: absolute;
  right: 10px;
}

#toggle{
  width: 15%;
  width: 75px;
}

#top-nav{
  display: none;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

#bottom-nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0px;
  padding: 0px;
}


/* BUTTONS */
button{
  margin: auto;
  border: 3px solid white;
  border-style: outset;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  color: lightgrey;
  background-color: Transparent;
  /* opacity: .8; */
  transition-duration: .4s;
  width: 75px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

button:visited {
  text-decoration: none;
}

button:hover {
  background-color: #02c6c9;
  color: black;
  box-shadow: 0 12px 16px 0 #02c6c9, 0 17px 50px 0 #02c6c9;
  cursor: pointer;
}


/* LINKS */
.links{
  position: fixed;
  bottom: 50px;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px;
}
.fa {
  display: inline-block;
  padding: 0px 0px 10px 0px;
  font-size: 30px;
  width: 50px;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover{
  color: #02c6c9;
  padding: 0px 0px 5px 0px;
  font-size: 30px;
  width: 50px;
  text-decoration: none;
  margin: 5px 2px;
}
.fa-linkedin {
  color: white;
}
.fa-github {
  color: white;
}
.fa-instagram {
  color: white;
}


/* BIO/ABOUT ME SECTION */
.bio{
  margin: 50px;
  display: block;
  text-align: center;
  padding: 50px;
  border-top: 3px solid white;
  border-right: 3px dashed white;
  border-radius: 5px;
}

#bioHead{
  margin: 0px;
  display: block;
  text-align: center;
  padding: 25px;
  text-decoration: underline;
  align-items: center;
}
.about-me{
  padding: 25px;
  /* width: 80%;
  margin: 25px; */
}
#bio{
  margin: 0;
}


/* PROJECTS SECTION */
.projects{
  margin: 0px;
  margin-top:0px;
  margin-bottom:50px;
  display: flex;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
p#projects{
  border-left: solid lightgrey;

}


/* Carousel */
.container {
	display: flex;
	/* flex-direction: column;
	align-items: center */
  margin: 5px;
  height: auto;
}
.container > img {
	width: 50%;
}
.container > h1 {
	font-family: "Montserrat", impact;
	font-weight: 800;
	font-size: 2.5em;
	margin-top: -1%;
	color: black;
	text-shadow: 1px 1px #f2cd99;
	letter-spacing: 2px;
}
.carousel{
  margin: 25px;
  margin-top: 0px;
  margin-bottom: 50px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
  /* margin-right: 40px; */
}
.carousel-container {
	width: 70%;
	display: flex;
	justify-content: space-around;
  height: auto;
}
.carousel-images {
	width: auto;
  height: auto;
	background: white;
	padding: 10px;
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 2px 2px #016768;
}
.carousel-images:hover {
	width: auto;
  height: auto;
	background: #f2fefe;
	padding: 10px;
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 2px 2px #f2fefe;
}
.carousel-images img {
	width: 100%;
	border-radius: 5px;
	display: none;
}
.carousel-button {
  display: inline-flex;
	align-self: center;
	background: grey;
	color: black;
	padding: 5px;
	border-radius: 50%;
	text-align: center;
	box-shadow: 1px 1px #016768;
  transform: scale(1);
}
.carousel-button:hover {
	cursor: pointer;
	background: #f2fefe;
	box-shadow: 1px 1px black;
	color: black;
  transform: scale(1);
}

.carousel-images img:first-of-type {
	display: inline-block;
}
