
*{
  font-family: 'Libre Bodoni';
  color: #DBEADD;
  scroll-behavior: smooth;
  height: auto;
}

body{
  width: auto;
  background-image: url('https://i.imgur.com/NWaQLeB.png?1');
  background-repeat: repeat;
  background-size: cover;
}

.nav-bar{
  list-style-type: none;
  display: inline;
  text-align: center;
  margin: 0px;
  background: #355E3B;
}

.header-bar{
  display: flex;
  justify-content: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  margin: 25px;
  margin-bottom: 0px;
}
.menu{
  display: flex;
  justify-content: flex-start;
  background-color: #355E3B
}
.logo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: #355E3B;
  color: white;
}

#logo{
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.logoLeft{
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  text-align: center;
  width: 300px;
}
.logoRight{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  width: 300px;
}
h3#email{
  color: white;
  font-size: 24px;
}
a{
  text-decoration: none;
}


.header{
  display: block;
  margin-left: 25px;
  margin-right: 25px;
  padding-left: 25px;
  padding-right: 25px;
  width:100%;
}


h2.name{
  font-size: 250%;
  text-align: center;
  margin: 0;
}

h3.details{
  font-size: 18px;
  text-align: center;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}
.intro{
  display: block;
  justify-content: center;
  font-size: 18px;
  text-align: center;
  margin: 100px;
  margin-top: 50px;
  padding: 50px;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #355E3B;
  border-radius: 10px;
  background-color: #DBEADD;
  width:auto;
}
.intro h3.details{
  color: #355E3B;
  width: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #355E3B;
  color: white;
  text-align: center;
  border-top: 1px solid white;
}

.footer .button{
  width: 100px;
  font-size: 24px;
}





/* NAV BUTTONS */

#toggle{
  width: 100px;
}

#top-nav{
  display: none;
  /* flex-direction: row; */
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}
#top-nav .current{
  background-color: #101D12;
  color: white;
}

#bottom-nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0px;
  padding: 0px;
}


/* BUTTONS */
button{
  margin: auto;
  border: 3px solid white;
  border-style: outset;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  color: white;
  font-size: 18px;
  background-color: Transparent;
  /* opacity: .8; */
  transition-duration: .4s;
  width: 100px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)

}

button:visited {
  text-decoration: none;
}

button:hover {
  background-color: lightgrey;
  color: black;
  box-shadow: 0px 12px 18px 0px lightgrey;
  cursor: pointer;
}


/* LINKS */
.links{
  position: fixed;
  bottom: 75px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  font-size: 28px;

}
.fa {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 10px 0px;
  width: 50px;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover{
  color: #DBEADD;
  padding: 0px 0px 5px 0px;
  font-size: 36px;
  width: 50px;
  text-decoration: none;
  margin: 5px 2px;

}
.fa-linkedin {
  display: inline-flex;
  justify-content: center;
  color: #DBEADD;
}
.fa-github {
  display: inline-flex;
  justify-content: center;
  color: #DBEADD;
}
.fa-codepen {
  display: inline-flex;
  justify-content: center;
  color: #DBEADD;
}
.fa-spotify {
  display: inline-flex;
  justify-content: center;
  color: #DBEADD;
}


/* BIO/ABOUT ME SECTION */
.bio{
  margin: 50px;
  margin-top: 25px;
  display: block;
  text-align: center;
  padding: 50px;
  padding-top: 20px;
  color: white;
  background-color: #355E3B
}

#bioHead{
  margin: 0px;
  display: block;
  text-align: center;
  padding: 25px;
  text-decoration: underline;
  align-items: center;
  color: white;
}
.about-me{
  padding: 25px;
  /* width: 80%;
  margin: 25px; */
  border-top: 3px solid white;
  border-right: 3px dashed white;
  border-radius: 5px;
}
#bio{
  margin: 0;
  color: white;
}


/* PROJECTS SECTION */
.projects{
  margin: 50px;
  margin-top: 0px;
  padding-top: 25px;
  padding-bottom: 50px;
  display: flex;
  text-align: center;
}
.projectA{
  padding: 10px;
  border-left: solid lightgrey;
  border-right: solid lightgrey;
}
.projectB{
  padding: 10px;
  border-left: solid lightgrey;
  border-right: solid lightgrey;
}
#projectHead{
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 5px;
}


/* Carousel REFERENCED CORGI CAROUSEL FOR ASSISTANCE*/
.container {
	display: block;
	/* flex-direction: column;
	align-items: center */
  margin: 5px;
  height: auto;
}
.container > img {
	width: 50%;
}
.container > h1 {
	font-family: "Montserrat", impact;
	font-weight: 800;
	font-size: 2.5em;
	margin-top: -1%;
	color: black;
	text-shadow: 1px 1px #f2cd99;
	letter-spacing: 2px;
}
.carousel{
  width: auto;
  margin: 25px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  padding: 25px;
  /* margin-right: 40px; */
}
.carousel-container {
	width: 70%;
	display: flex;
	justify-content: space-between;
  height: auto;
}
.carousel-images {
	width: 400px;
  height: 400px;
	background: white;
	padding: 10px;
	border-radius: 10px;
}
.carousel-images #carouselLogo{
  background-color: #355E3B;
}

.carousel-images:hover {
	padding: 10px;
	border-radius: 10px;
}
.carousel-images img {
	width: 100%;
	border-radius: 5px;
	display: none;
}
.carousel-button {
  display: inline-flex;
	align-self: center;
	background: white;
	color: black;
	padding: 5px;
	border-radius: 50%;
	text-align: center;
	box-shadow: 1px 1px #016768;
  transform: scale(1);
}
.carousel-button:hover {
	cursor: pointer;
	background: #f2fefe;
	box-shadow: 1px 1px black;
	color: black;
  transform: scale(1);
}

.carousel-images img:first-of-type {
	display: inline-block;
}

/* RESUME PAGE */
.resume{
  display: flex;
  justify-content: center;
  margin: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
  background: #355E3B;
  width: auto;
  height: 400px;
}
.resumeFiles{
  display: block;
  width: 800px;
}

/* iphone X */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 800px)
  and (-webkit-min-device-pixel-ratio: 3) {

  body{
    width: auto;
    background-image: url('https://i.imgur.com/NWaQLeB.png?1');
    background-repeat: repeat;
    background-size: cover;
    }
.nav-bar{
    display: block;
}

h2.name{
  font-size: 50px;
  font-weight: bold;
  color: #DBEADD;
}
h3.details{
  font-size: 28px;
}
h3.logoLeft{
  color: #DBEADD;
  font-size: 18px;
  text-decoration: none;
}
h3.logoRight{
  color: #DBEADD;
  font-size: 18px;
  text-decoration: none;
}
a{
  text-decoration: none;
}
.menu{
  display: none;
}

.footer .button{
  width: 150px;
  font-size: 24px;
}

.links{
  position: fixed;
  bottom: 75px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  font-size: 48px;
}

.fa {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 10px 0px;
  width: 50px;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover{
  color: #355E3B;
  padding: 0px 0px 5px 0px;
  font-size: 44px;
  width: 50px;
  text-decoration: none;
  margin: 5px 2px;
}

}

/* Ipad air */
@media only screen
  and (min-device-width: 800px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

    body{
      width: auto;
      background-image: url('https://i.imgur.com/NWaQLeB.png?1');
      background-repeat: repeat;
      background-size: cover;

    }

#toggle{
  height: auto;
  width: 100px;
  font-size: 32px;
}
.menu .button{
  height: auto;
  width: 100px;
  font-size: 32px;
}
#toggle .button{
  height: auto;
  width: 100px;
  font-size: 32px;
}

.footer .button{
  width: 100px;
  font-size: 32px;
}
.logo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: #355E3B;
  color: white;
}

h3.logoLeft{
  color: #DBEADD;
  font-size: 14px;
  text-decoration: none;
}
h3.logoRight{
  color: #DBEADD;
  font-size: 14px;
  text-decoration: none;
}
a{
  text-decoration: none;
}


.emailDivL{
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  text-align: center;
}
.emailDivR{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  text-align: center;
}
.links{
  position: fixed;
  bottom: 75px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  font-size: 40px;

}
.fa {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 10px 0px;
  width: 50px;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover{
  color: #355E3B;
  padding: 0px 0px 5px 0px;
  font-size: 30px;
  width: 50px;
  text-decoration: none;
  margin: 5px 2px;

}

h2.name{
  color: #DBEADD;
}
}
